### **Objectives**

1. ì‹¤ìŠµëª… : 
2. í•µì‹¬ ì£¼ì œ:
    1. Pseudo Labeled ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° ë° EDA
    2. base ëª¨ë¸ ë° í† í¬ë‚˜ì´ì € ë¶ˆëŸ¬ì˜¤ê¸°
    3. Text-to-SQL task ë°ì´í„° ì „ì²˜ë¦¬
    4. Text-to-SQL task ëª¨ë¸ LoRA fine-tuning
3. í•™ìŠµ ëª©í‘œ :
    1. Pseudo Labeled ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜¤ê³  EDAë¥¼ í•  ìˆ˜ ìˆë‹¤.
    2. Text-to-SQL task í•™ìŠµì„ ìœ„í•œ base ëª¨ë¸ ë° í† í¬ë‚˜ì´ì €ë¥¼ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.
    3. Pseudo Labeled ë°ì´í„°ì…‹ì˜ ì „ì²˜ë¦¬ ì „ëµì„ ìˆ˜ë¦½í•  ìˆ˜ ìˆë‹¤.
    4. base ëª¨ë¸ì— LoRA fine-tuningì„ ì§„í–‰í•  ìˆ˜ ìˆë‹¤.
4. í•™ìŠµ ê°œë…: í‚¤ì›Œë“œëª… :
    1. EDA
    2. Text-to-SQL
    3. LoRA fine-tuning
5. í•™ìŠµ ë°©í–¥ :
  - Text-to-SQLì´ë¼ëŠ” íŠ¹ì • taskì— ëŒ€í•´ì„œ íŠ¹í™”ì‹œí‚¤ëŠ” LoRA fine-tuningì„ ì§„í–‰í•©ë‹ˆë‹¤. ëª¨ë¸ì˜ ì„±ëŠ¥ì´ ì•„ì‰¬ìš¸ ê²½ìš° í•™ìŠµ ë°ì´í„°ì™€ ì ì€ GPU ë©”ëª¨ë¦¬ë¡œë„ ì„±ëŠ¥ì„ íš¨ìœ¨ì ìœ¼ë¡œ ë†’ì¼ ìˆ˜ ìˆëŠ” ë°©ë²•ì— ëŒ€í•´ì„œ ì²´ë“í•©ë‹ˆë‹¤.
  - ì‹¤ìŠµ ì½”ë“œëŠ” ì¡°êµê°€ ì§ì ‘ êµ¬í˜„í•œ ì½”ë“œë¥¼ ì°¸ê³ í•˜ì—¬ í•™ìŠµí•©ë‹ˆë‹¤.
  - í•´ë‹¹ ì‹¤ìŠµì€ ëª¨ë¸ì„ í•™ìŠµì‹œí‚¬ ê²½ìš° ë¬´ì—‡ì´ í•„ìš”í•˜ê³  ì–´ë–»ê²Œ í•˜ë©´ í•™ìŠµì„ íš¨ìœ¨ì ìœ¼ë¡œ í•  ìˆ˜ ìˆëŠ”ì§€ ê³ ë¯¼í•´ë´…ë‹ˆë‹¤.

### **Prerequisites**
```
numpy==2.1.0
pandas==2.2.3
transformers==4.56.0
torch==2.8.0+cu126
accelerate==1.10.1
datasets==4.0.0
peft==0.17.1
trl==0.22.2
```

ëœë¤ì„±ì„ ì œì–´í•˜ê¸° ìœ„í•´ seedë¥¼ ê³ ì •í•©ë‹ˆë‹¤.

In [17]:
import os
import torch
import numpy as np
import random

# tqdmì´ í…ìŠ¤íŠ¸ ëª¨ë“œë¥¼ ì‚¬ìš©í•˜ë„ë¡ ì„¤ì • (ipywidgets ì—ëŸ¬ ë°©ì§€)
os.environ["TQDM_DISABLE"] = "0"
os.environ["TQDM_MININTERVAL"] = "1"

# ì‹œë“œ ì„¤ì •
random.seed(1234)
np.random.seed(1234)
torch.manual_seed(1234)
torch.cuda.manual_seed(1234)
torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False

# 1. ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸° ë° EDA

- í•™ìŠµ ëª©í‘œ : ë°ì´í„°ì…‹ì— ëŒ€í•´ì„œ EDAë¥¼ í•  ìˆ˜ ìˆë‹¤.
- í•™ìŠµ ê°œë… : EDA
- ì§„í–‰í•˜ëŠ” ì‹¤ìŠµ ìš”ì•½
    - ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
    - ë°ì´í„°ì…‹ EDA

ì²¨ë¶€í•œ ë°ì´í„°ì…‹ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [1]:
from datasets import load_dataset

text_to_sql = load_dataset('csv', data_files={
    'train': './data/train.csv',
    'test': './data/validation.csv'
})
train_df = text_to_sql["train"].to_pandas()
train_df.head()

,db_id,query,question,query_toks,query_toks_no_value,question_toks
0,department_management,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...,['SELECT' 'count' '(' '*' ')' 'FROM' 'head' 'W...,['select' 'count' '(' '*' ')' 'from' 'head' 'w...,['How' 'many' 'heads' 'of' 'the' 'departments'...
1,department_management,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads...","['SELECT' 'name' ',' 'born_state' ',' 'age' 'F...","['select' 'name' ',' 'born_state' ',' 'age' 'f...","['List' 'the' 'name' ',' 'born' 'state' 'and' ..."
2,department_management,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac...","['SELECT' 'creation' ',' 'name' ',' 'budget_in...","['select' 'creation' ',' 'name' ',' 'budget_in...","['List' 'the' 'creation' 'year' ',' 'name' 'an..."
3,department_management,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...,['SELECT' 'max' '(' 'budget_in_billions' ')' '...,['select' 'max' '(' 'budget_in_billions' ')' '...,['What' 'are' 'the' 'maximum' 'and' 'minimum' ...
4,department_management,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...,['SELECT' 'avg' '(' 'num_employees' ')' 'FROM'...,['select' 'avg' '(' 'num_employees' ')' 'from'...,['What' 'is' 'the' 'average' 'number' 'of' 'em...

In [3]:
len(set(train_df["db_id"]))

140

columnê³¼ ê° ë°ì´í„°ì˜ íƒ€ì…ì„ í™•ì¸í•©ë‹ˆë‹¤.

### ë°ì´í„° í•„ë“œ ì„¤ëª…
- db_id (string): í•´ë‹¹ ì§ˆë¬¸ê³¼ ê´€ë ¨ëœ ë°ì´í„°ë² ì´ìŠ¤ ì‹ë³„ì
- query (string): ì§ˆë¬¸ì— ëŒ€ì‘í•˜ëŠ” SQL ì¿¼ë¦¬
- question (string): ì›ë³¸ ì˜ì–´ ìì—°ì–´ ì§ˆë¬¸
- query_toks (list): SQL ì¿¼ë¦¬ë¥¼ í† í°í™”í•œ ë¦¬ìŠ¤íŠ¸
- query_toks_no_value (list): ê°’ì„ ì œì™¸í•œ SQL ì¿¼ë¦¬ í† í° ë¦¬ìŠ¤íŠ¸

`.info()` ë§¤ì„œë“œë¥¼ ì´ìš©í•´ì„œ ë°ì´í„°ì˜ íƒ€ì…ê³¼ ê°¯ìˆ˜ë¥¼ íŒŒì•…í•©ë‹ˆë‹¤.

In [19]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   db_id                7000 non-null   object
 1   query                7000 non-null   object
 2   question             7000 non-null   object
 3   query_toks           7000 non-null   object
 4   query_toks_no_value  7000 non-null   object
 5   question_toks        7000 non-null   object
dtypes: object(6)
memory usage: 328.3+ KB

ì‹¤ì œ ë°ì´í„°ë¥¼ ì°ì–´ë³´ë©° ì–´ë–¤ ì‹ìœ¼ë¡œ ë°ì´í„°ê°€ êµ¬ì„±ë˜ì–´ ìˆëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.

In [20]:
# í•œ ì¤„ë§Œ ê°€ì ¸ì˜¤ê¸°
for i, row in train_df.iterrows():
    for k, v in row.items():
        print(k, ":", v)
    break

db_id : department_management
query : SELECT count(*) FROM head WHERE age  >  56
question : How many heads of the departments are older than 56 ?
query_toks : ['SELECT' 'count' '(' '*' ')' 'FROM' 'head' 'WHERE' 'age' '>' '56']
query_toks_no_value : ['select' 'count' '(' '*' ')' 'from' 'head' 'where' 'age' '>' 'value']
question_toks : ['How' 'many' 'heads' 'of' 'the' 'departments' 'are' 'older' 'than' '56'
 '?']

ì €í¬ì˜ ëª©í‘œëŠ” ìì—°ì–´(text)ë¥¼ SQLë¡œ ë³€í™˜í•˜ëŠ” Text-to-SQL ëª¨ë¸ì„ í•™ìŠµí•˜ëŠ” ê²ƒì…ë‹ˆë‹¤.

ëª¨ë¸ì˜ ì…ë ¥ìœ¼ë¡œ ë“¤ì–´ê°ˆ ë°ì´í„°ëŠ” ìì—°ì–´ì´ë¯€ë¡œ `question`ì´ ë˜ê³ , ëª¨ë¸ì˜ outputìœ¼ë¡œ ë‚˜ì˜¬ ë°ì´í„°ëŠ” SQLì´ ë˜ì–´ì•¼ í•˜ë¯€ë¡œ `query`ê°€ ë©ë‹ˆë‹¤.

`db_id`, `query_toks`, `query_toks_no_value` columnì€ í•™ìŠµ ë°ì´í„°ë¥¼ ë¶„ì„í•˜ëŠ” ê³¼ì •ì—ì„œëŠ” í•„ìš”í•  ìˆ˜ ìˆì§€ë§Œ, ëª¨ë¸ì„ í•™ìŠµí•˜ëŠ” ìƒí™©ì—ì„œëŠ” í•„ìš”í•œ columnì´ ì•„ë‹ˆë¯€ë¡œ í•´ë‹¹ columnì„ ì œê±°í•˜ê³  columnì„ ì¬ì •ì˜í•©ë‹ˆë‹¤.

In [21]:
columns = ["query", "question"]

train_data = train_df[columns]
train_data

,query,question
0,SELECT count(*) FROM head WHERE age > 56,How many heads of the departments are older th...
1,"SELECT name , born_state , age FROM head ORD...","List the name, born state and age of the heads..."
2,"SELECT creation , name , budget_in_billions ...","List the creation year, name and budget of eac..."
3,"SELECT max(budget_in_billions) , min(budget_i...",What are the maximum and minimum budget of the...
4,SELECT avg(num_employees) FROM department WHER...,What is the average number of employees of the...
...,...,...
6995,SELECT T1.company_name FROM culture_company AS...,What are all the company names that have a boo...
6996,"SELECT T1.title , T3.book_title FROM movie AS...",Show the movie titles and book titles for all ...
6997,"SELECT T1.title , T3.book_title FROM movie AS...",What are the titles of movies and books corres...
6998,SELECT T2.company_name FROM movie AS T1 JOIN c...,Show all company names with a movie directed i...
6999,SELECT T2.company_name FROM movie AS T1 JOIN c...,What are all company names that have a corresp...

ëª¨ë¸ì˜ ì…ë ¥ìœ¼ë¡œ ë“¤ì–´ê°€ëŠ” ë°ì´í„°ì˜ íŠ¹ì„±ì„ íŒŒì•…í•©ë‹ˆë‹¤.

NLPì—ì„œ ì¤‘ìš”í•˜ê²Œ ì²´í¬í•´ì•¼ í•  EDA í•­ëª©ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤.
1. sequence length
2. language
3. input data domain

ìœ„ì˜ ì‚¬í•­ë“¤ì„ ì²´í¬í•´ë´…ì‹œë‹¤.

2ë²ˆê³¼ 3ë²ˆì€ ë°ì´í„°ì…‹ì˜ íŠ¹ì„±ìœ¼ë¡œ ì¸í•´ ì´ë¯¸ ì²´í¬ê°€ ë©ë‹ˆë‹¤.
- language : ì˜ì–´ ë° SQL ì½”ë“œ
- input data domain : ë‹¤ì–‘í•œ ì¼ë°˜ í‘œ(table)ì—ì„œ ë½‘ì€ ë°ì´í„°(Open domain)

In [22]:
# 1. sequence length
max_sequence = [0, 0, 0]
for i, row in train_data.iterrows():
    for i, (k, v) in enumerate(row.items()):
        max_sequence[i] = max(max_sequence[i], len(str(v)))

max_sequence

[577, 224, 0]

`max_length`ê°€ ëª¨ë¸ì˜ `max_sequence_length`ë¥¼ ë„˜ì§€ ì•Šì„ ê²ƒìœ¼ë¡œ ì˜ˆìƒí•©ë‹ˆë‹¤.

<blockquote>
<b>ğŸ§  ëª¨ë¸ ì…ë ¥ì€ tokenì´ë‹ˆê¹Œ token ê¸¸ì´ë¥¼ ì¸¡ì •í•´ì•¼ í•˜ëŠ”ê±° ì•„ë‹Œê°€ìš”?</b><br>
ë§ìŠµë‹ˆë‹¤. ê·¸ëŸ¬ë‚˜ í˜„ì¬ ì–´ë–¤ ëª¨ë¸ì„ ì‚¬ìš©í• ì§€ ì •í•´ì§€ì§€ ì•Šì€ ìƒí™©ì—ì„œëŠ” token ê¸¸ì´ë¥¼ ì¸¡ì •í•˜ê¸°ëŠ” ì–´ë µìŠµë‹ˆë‹¤. ë”°ë¼ì„œ, ëŒ€ëµì ì¸ ê¸¸ì´ë¥¼ ë³´ê³  ëª¨ë¸ì´ ê²°ì •ë˜ë©´ token ê¸¸ì´ë¥¼ ë‹¤ì‹œ ì¸¡ì •í•´ì•¼ í•©ë‹ˆë‹¤.
</blockquote>

ì´ì œë¶€í„° ëª¨ë¸ê³¼ í† í¬ë‚˜ì´ì €ë¥¼ ë¶ˆëŸ¬ì˜µì‹œë‹¤.

# 2. base ëª¨ë¸ ë° í† í¬ë‚˜ì´ì € ë¶ˆëŸ¬ì˜¤ê¸°
- í•™ìŠµ ëª©í‘œ : base ëª¨ë¸ê³¼ í† í¬ë‚˜ì´ì €ë¥¼ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.
- í•™ìŠµ ê°œë… : base ëª¨ë¸
- ì§„í–‰í•˜ëŠ” ì‹¤ìŠµ ìš”ì•½
    - base ëª¨ë¸ ë¶ˆëŸ¬ì˜¤ê¸°
    - í† í¬ë‚˜ì´ì € ë¶ˆëŸ¬ì˜¤ê¸°

ì‚¬ìš©í•  ëª¨ë¸ì€ [naver-hyperclovax/HyperCLOVAX-SEED-Text-Instruct-0.5B](https://huggingface.co/naver-hyperclovax/HyperCLOVAX-SEED-Text-Instruct-0.5B)ì…ë‹ˆë‹¤.

í˜„ì¬ 6GBí•˜ì˜ VRAMì—ì„œ í•™ìŠµì´ ê°€ëŠ¥í•œ ëª¨ë¸ì€ ìœ„ì˜ ëª¨ë¸ì…ë‹ˆë‹¤. ë˜í•œ, ë„¤ì´ë²„ì—ì„œ ì˜¤í”ˆì†ŒìŠ¤ë¡œ ê³µê°œí•œ ëª¨ë¸ì´ë¯€ë¡œ, ëˆ„êµ¬ë‚˜ ì‚¬ìš©ì´ ê°€ëŠ¥í•œ ëª¨ë¸ì…ë‹ˆë‹¤.

ëª¨ë¸ê³¼ í† í¬ë‚˜ì´ì €ë¥¼ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [15]:
import torch
from transformers import AutoModelForCausalLM, AutoTokenizer

model_name = "naver-hyperclovax/HyperCLOVAX-SEED-Text-Instruct-0.5B"

tokenizer = AutoTokenizer.from_pretrained(model_name, use_fast=True)
if tokenizer.pad_token is None: # pad_token ì„¤ì •ì´ ë˜ì–´ìˆì§€ ì•ŠëŠ” ê²½ìš°ê°€ ì¡´ì¬í•©ë‹ˆë‹¤.
    tokenizer.pad_token = tokenizer.eos_token

model = AutoModelForCausalLM.from_pretrained(
    model_name,
    device_map="auto"
)

ëª¨ë¸ì˜ max_sequence_lengthë¥¼ í™•ì¸í•©ë‹ˆë‹¤.

max_position_embeddingsì˜ ê¸¸ì´ëŠ” position embeddingsì˜ ê¸¸ì´ë¥¼ ì˜ë¯¸í•©ë‹ˆë‹¤.

position embeddingsëŠ” ì…ë ¥ í† í°ì— ìˆœì„œ ì •ë³´ë¥¼ ë„£ëŠ” ì„ë² ë”©ì´ë¯€ë¡œ í•´ë‹¹ ì°¨ì›ì´ ì‹¤ì œ ì…ë ¥ í† í°ì˜ ê¸¸ì´ì™€ ë™ì¼í•©ë‹ˆë‹¤.

In [8]:
max_sequence_length = model.config.max_position_embeddings
max_sequence = [0, 0, 0]
for i, row in train_data.iterrows():
    for i, (k, v) in enumerate(row.items()):
        max_sequence[i] = max(max_sequence[i], len(tokenizer(str(v))["input_ids"]))

print("Max sequence length of model:", max_sequence_length)
print("Max sequence length:", max_sequence)

Max sequence length of model: 8192
Max sequence length: [201, 50, 0]

8192ì˜ ê¸¸ì´ë¼ë©´ í† í¬ë‚˜ì´ì§•ì„ í•œ ì´í›„ì˜ `max_length`ì¸ 201 + 50 ë³´ë‹¤ í›¨ì”¬ í¬ê¸° ë•Œë¬¸ì— ì¶©ë¶„íˆ ì—¬ìœ ë¡­ìŠµë‹ˆë‹¤.

# 3. Text-to-SQL task ë°ì´í„° ì „ì²˜ë¦¬
- í•™ìŠµ ëª©í‘œ : chat í˜•ì‹ìœ¼ë¡œ ë°ì´í„° ì „ì²˜ë¦¬ë¥¼ í•  ìˆ˜ ìˆë‹¤.
- í•™ìŠµ ê°œë… : ë°ì´í„° ì „ì²˜ë¦¬
- ì§„í–‰í•˜ëŠ” ì‹¤ìŠµ ìš”ì•½
    - apply_chat_templateìœ¼ë¡œ ë°ì´í„° ì „ì²˜ë¦¬í•˜ê¸°
    - datasetsë¥¼ ì´ìš©í•˜ì—¬ Datasets í˜•ì‹ìœ¼ë¡œ ë³€ê²½í•˜ê¸°

í—ˆê¹…í˜ì´ìŠ¤ tokenizerì—ì„œëŠ” jinja2 í¬ë§·ì˜ `chat_template`ì„ ì œê³µí•©ë‹ˆë‹¤.

ë³´í†µ LLMì„ ì œê³µí•˜ëŠ” íšŒì‚¬, ëª¨ë¸ë§ˆë‹¤ `chat_template`ì´ ë‹¤ë¦…ë‹ˆë‹¤. ë˜í•œ, ìµœê·¼ì—ëŠ” `chat_template`ì„ ëŒ€ë¶€ë¶„ ì§€ì›í•©ë‹ˆë‹¤.

ë”°ë¼ì„œ, `chat_template`ì„ í™•ì¸í•˜ê³  `apply_chat_template` ë§¤ì„œë“œë¥¼ ì´ìš©í•´ì„œ ì–´ë–»ê²Œ ì ìš©ì´ ë˜ëŠ”ì§€ í™•ì¸í•´ë´…ë‹ˆë‹¤.

In [9]:
if tokenizer.chat_template:
    print("=== chat template ì‚¬ìš© ê°€ëŠ¥ ===\n")
    print(tokenizer.chat_template)
else:
    print("=== chat template ì‚¬ìš© ë¶ˆê°€ëŠ¥ ===\n")

=== chat template ì‚¬ìš© ê°€ëŠ¥ ===

{% if not add_generation_prompt is defined %}{% set add_generation_prompt = false %}{% endif %}{% for message in messages %}{{'<|im_start|>' + message['role'] + '
' + message['content'] + '<|im_end|>' + '
'}}{% endfor %}{% if add_generation_prompt %}{{ '<|im_start|>assistant
' }}{% endif %}

Jinja2 í¬ë§·ì´ ì´ìƒí•˜ê¸´ í•˜ì§€ë§Œ ì½”ë“œë¥¼ ì–´ëŠì •ë„ ì´í•´í•˜ì‹œëŠ” ë¶„ë“¤ì´ë¼ë©´ ì´ê²Œ ì–´ë–¤ ì˜ë¯¸ì¸ì§€ë¥¼ ëŒ€ì¶© ìœ ì¶”í•´ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

```jinja
{% for message in messages %}
```
ì–´ë– í•œ `iterable` ê°ì²´ë¥¼ `for loop`ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²ƒì„ ë´ì„œëŠ” `list` ë“±ì˜ ê°ì²´ë¡œ ë„£ì–´ì¤˜ì•¼ í• ê±° ê°™ìŠµë‹ˆë‹¤.


```jinja
{{'<|im_start|>' + message['role'] + '' + message['content'] + '<|im_end|>' + ''}}
```

`message` ë‚´ì— ë³´ë©´ `role`ê³¼ `content`ë¼ëŠ” í‚¤ê°’ì´ í•„ìš”í•œ ê²ƒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì—¬ê¸°ì„œ `dictionary` ë“±ì˜ ê°ì²´ë¥¼ ì‚¬ìš©í•˜ë©´ ë ê±° ê°™ìŠµë‹ˆë‹¤.

ë˜í•œ, ì•ë’¤ì— `<|im_start|>`, `<|im_end|>`ì™€ ê°™ì€ ìŠ¤í˜ì…œ í† í°ì´ ë¶™ëŠ” ê²ƒì„ í™•ì¸í•˜ì‹¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ ë¶€ë¶„ì€ ì €í¬ê°€ ê±´ë“¤ í•„ìš” ì—†ì´ ì•Œì•„ì„œ ìƒì„±í•´ì¤ë‹ˆë‹¤.

`apply_chat_template`ì˜ ì…ë ¥ìœ¼ë¡œ ë„£ê¸° ìœ„í•´ì„œëŠ” chat(conversations) í˜•ì‹ì„ ì§€ì¼œì„œ ì…ë ¥ìœ¼ë¡œ ë„£ì–´ì¤˜ì•¼ í•©ë‹ˆë‹¤.

ê¸°ì¡´ì— ë¶ˆëŸ¬ì˜¨ ë°ì´í„°í”„ë ˆì„ì„ chat í˜•ì‹ìœ¼ë¡œ ë§Œë“¤ê³  `apply_chat_template`ì„ ì ìš©í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [23]:
# í•™ìŠµìš© ë°ì´í„° ì „ì²˜ë¦¬

example = train_df[columns].iloc[0]
messages = [
    {
        "role": "user",
        "content": example["question"]
    },
    {
        "role": "assistant",
        "content": example["query"]
    }
]

print(messages)
print()
chat = tokenizer.apply_chat_template(messages, tokenize = False, add_generation_prompt = False)
print(chat)

[{'role': 'user', 'content': 'How many heads of the departments are older than 56 ?'}, {'role': 'assistant', 'content': 'SELECT count(*) FROM head WHERE age  >  56'}]

<|im_start|>user
How many heads of the departments are older than 56 ?<|im_end|>
<|im_start|>assistant
SELECT count(*) FROM head WHERE age  >  56<|im_end|>

ë³´ì‹œëŠ” ë°”ì™€ ê°™ì´ ëª¨ë¸ì˜ ì…ë ¥ì— ë§ê²Œ í˜•ì‹ì„ ë§ì¶°ì„œ í…ìŠ¤íŠ¸ë¥¼ ìƒì„±í•´ì£¼ëŠ” ê²ƒì„ í™•ì¸í•˜ì‹¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì£¼ì˜í•  ì ì´ í¬ê²Œ 2ê°€ì§€ê°€ ìˆìŠµë‹ˆë‹¤.
1. `assistant`ëŠ” ì •ë‹µì´ê¸° ë•Œë¬¸ì— í•™ìŠµì—ì„œë§Œ ì…ë ¥ìœ¼ë¡œ ë„£ì–´ì£¼ê³  ì¶”ë¡ ì—ì„œëŠ” ë„£ì–´ì¤˜ì„œëŠ” ì•ˆë©ë‹ˆë‹¤.
2. `add_generation_prompt=False`ëŠ” `assistant`ê°€ ë“¤ì–´ê°”ê¸° ë•Œë¬¸ì— `False`ë¡œ ì„¤ì •í•©ë‹ˆë‹¤. ì¶”ë¡ ìš©ì´ë¼ë©´ `True`ë¡œ ì„¤ì •í•´ì£¼ì…”ì•¼ í•©ë‹ˆë‹¤.

In [24]:
## ì¶”ë¡ ìš© ë°ì´í„° ì „ì²˜ë¦¬
chat_inference = tokenizer.apply_chat_template(messages[:-1], tokenize = False, add_generation_prompt = True)
print(chat_inference)

<|im_start|>user
How many heads of the departments are older than 56 ?<|im_end|>
<|im_start|>assistant

ì¶”ë¡ ìš© ë°ì´í„°ë¥¼ í™•ì¸í•´ë³´ì‹œë©´

`SELECT * FROM players;<|im_end|>`

ì´ ì‚¬ë¼ì§„ ê²ƒì„ í™•ì¸í•˜ì‹¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ìœ ì˜í•  ì ì€
1. ëª¨ë¸ì´ ì •ë‹µìœ¼ë¡œ ìƒì„±í•  í…ìŠ¤íŠ¸ : `SELECT * FROM players;`
2. EOS ìŠ¤í˜ì…œ í† í° : `<|im_end|>`

ë‘ê°€ì§€ë¡œ êµ¬ì„±ë˜ì–´ ìˆëŠ” `assistant` ë¶€ë¶„ì„ í•™ìŠµì— ì‚¬ìš©í•˜ê²Œ ë©ë‹ˆë‹¤.

ì´ì œ ëª¨ë¸ ì…ë ¥ìœ¼ë¡œ ë„£ê¸° ìœ„í•´ì„œ ë°ì´í„°ë¥¼ ì „ì²˜ë¦¬í•˜ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

ë°ì´í„°í”„ë ˆì„ì— ìˆëŠ” ë°ì´í„°ë¥¼ êº¼ë‚´ì„œ `Dataset` ê°ì²´ë¡œ ë³€í™˜í•˜ëŠ” ì „ì²˜ë¦¬ë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤.

In [25]:
import datasets

system_prompt = """You are a text to SQL query translator. Users will ask you questions in English and you will generate a SQL query."""
user_prompt = """Given the <USER_QUERY>, generate the corresponding SQL command to retrieve the desired data, considering the query's syntax, semantics, and schema constraints.

<USER_QUERY>
{question}
</USER_QUERY>"""

def convert_to_conversation(examples):
    train_data = []
    for i in range(len(examples)):
        messages = [
            {
                "role": "system",
                "content": system_prompt
            },
            {
                "role": "user",
                "content": user_prompt.format(question=examples["question"][i])
            },
            {
                "role": "assistant",
                "content": examples['query'][i]
            }
        ]
        train_data.append(
            {
                "messages": messages,
            }
        )
    return train_data

train_data_list = convert_to_conversation(train_data)
train_dataset = datasets.Dataset.from_list(train_data_list)
print(train_dataset["messages"][0])

[{'content': 'You are a text to SQL query translator. Users will ask you questions in English and you will generate a SQL query.', 'role': 'system'}, {'content': "Given the <USER_QUERY>, generate the corresponding SQL command to retrieve the desired data, considering the query's syntax, semantics, and schema constraints.\n\n<USER_QUERY>\nHow many heads of the departments are older than 56 ?\n</USER_QUERY>", 'role': 'user'}, {'content': 'SELECT count(*) FROM head WHERE age  >  56', 'role': 'assistant'}]

ë³´í†µ ëª¨ë¸ì„ í•™ìŠµí•  ë•Œ ì‚¬ìš©í•˜ëŠ” labelsëŠ” inputsì™€ ë™ì¼í•©ë‹ˆë‹¤.

(ëª¨ë¸ì€ ë‚´ë¶€ì ìœ¼ë¡œ labelsë¥¼ í•œ ì¹¸ ì˜¤ë¥¸ìª½ìœ¼ë¡œ shiftí•œ í›„ Cross-Entropy lossë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤. ì´ëŠ” ë‹¤ìŒ í† í° ì˜ˆì¸¡(next token prediction)ê³¼ ê°™ì€ auto-regressive ë¶„ë¥˜ ì‘ì—…ì—ì„œ í‘œì¤€ ë°©ì‹ì…ë‹ˆë‹¤.)

ë”°ë¼ì„œ ì „ì²˜ë¦¬ëœ ìƒ˜í”Œì€ ë‹¤ìŒê³¼ ê°™ì€ í˜•íƒœê°€ ë©ë‹ˆë‹¤:
```python
{
    "input_ids": instruction + model response(assistant),
    "labels": instruction + model response(assistant)
}  # HF ëª¨ë¸ì´ shift +1 ì²˜ë¦¬ë¥¼ ë‚´ë¶€ì ìœ¼ë¡œ ìˆ˜í–‰
```

- instruction : ëª¨ë¸ì—ê²Œ ì…ë ¥ìœ¼ë¡œ ë„£ì„ ì§€ì‹œì‚¬í•­ (ì‹¤ì œ Userë“¤ì´ ì…ë ¥ìœ¼ë¡œ ë„£ì„ í…ìŠ¤íŠ¸)
- model response : instructionì— ëŒ€í•œ ëª¨ë¸ì˜ ì‘ë‹µ (`assistant`ì™€ ë™ì¼)

í•˜ì§€ë§Œ ìš°ë¦¬ê°€ í•˜ë ¤ëŠ” ì‘ì—…ì€ instruction ë¶€ë¶„ì„ -100ìœ¼ë¡œ ëŒ€ì²´í•˜ëŠ” ê²ƒì…ë‹ˆë‹¤. ì™œëƒí•˜ë©´ ì €í¬ëŠ” ëª¨ë¸ì´ ì •ë‹µ(`assistant`) ë¶€ë¶„ë§Œ í•™ìŠµì„ í•˜ë„ë¡ í•˜ê³  ì‹¶ê¸° ë•Œë¬¸ì…ë‹ˆë‹¤.

```python
{
    "input_ids": instruction + model response(assistant),
    "labels": [-100]*len(instruction) + model response(assistant)
}
```

ì´ë ‡ê²Œ í•˜ë©´ Cross-Entropy í•¨ìˆ˜ì— instruction í† í°ì€ ë¬´ì‹œ(ignore) í•˜ë¼ê³  ì•Œë ¤ì£¼ëŠ” ì…ˆì…ë‹ˆë‹¤. ì´ë¥¼ í†µí•´ assistant ë¶€ë¶„ë§Œ í•™ìŠµì„ í•˜ë„ë¡ ë§Œë“¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì˜ˆë¥¼ ë“¤ì–´,

```
<|im_start|>system
You are a text to SQL query translator. Users will ask you questions in English and you will generate a SQL query.<|im_end|>
<|im_start|>user
Given the <USER_QUERY>, generate the corresponding SQL command to retrieve the desired data, considering the query's syntax, semantics, and schema constraints.

<USER_QUERY>
How many heads of the departments are older than 56 ?
</USER_QUERY><|im_end|>
<|im_start|>assistant
SELECT count(*) FROM head WHERE age  >  56<|im_end|>
```

ìœ„ì—ì„œ í•™ìŠµí•´ì•¼ í•  ë¶€ë¶„(ì •ë‹µ ë¼ë²¨)ì€
```
SELECT count(*) FROM head WHERE age  >  56<|im_end|>
```
ì´ ë¶€ë¶„ì´ë¯€ë¡œ, ë‚˜ë¨¸ì§€ ë¶€ë¶„ë“¤ì€ -100ìœ¼ë¡œ ë§ˆìŠ¤í‚¹ ì²˜ë¦¬ë¥¼ í•©ë‹ˆë‹¤.

In [26]:
def convert_train_data(examples, tokenizer):
    messages = examples["messages"]
    label_message = messages[-1]["content"]
    label_input_ids = tokenizer.encode(
        label_message, add_special_tokens=False, return_tensors="pt"
    ).squeeze(0)

    prompt_input_ids = tokenizer.apply_chat_template(
        messages[:2], add_generation_prompt=False, tokenize=True, return_tensors="pt"
    ).squeeze(0)

    response_start_template_ids = tokenizer.encode("<|im_start|>assistant", return_tensors="pt")[0]

    input_ids = torch.cat(
        [
            prompt_input_ids,
            response_start_template_ids,
            label_input_ids,
            torch.tensor([tokenizer.eos_token_id]),
        ],
        dim=0,
    )
    attention_mask = torch.ones(len(input_ids), dtype=torch.int64)
    labels = torch.cat(
        [
            torch.tensor(
                [-100] * (len(input_ids) - len(label_input_ids) - 1)
            ),  # prompt + label_start_template
            label_input_ids,  # label
            torch.tensor([tokenizer.eos_token_id]),  # [EOS]
        ],
        dim=0,
    )

    return (
        {
            "input_ids": input_ids,
            "attention_mask": attention_mask,
            "labels": labels
        }
    )

datasets.disable_progress_bar()
train_dataset = train_dataset.map(
    lambda x: convert_train_data(x, tokenizer),
    batched=False,
    num_proc=1,
    remove_columns=train_dataset.column_names  # ì›ë³¸ ì»¬ëŸ¼ ì œê±°í•˜ê³  ìƒˆ ì»¬ëŸ¼ë§Œ ë‚¨ê¹€
)

train_dataset

Dataset({
    features: ['input_ids', 'attention_mask', 'labels'],
    num_rows: 7000
})

1. input_ids â€“ í† í¬ë‚˜ì´ì¦ˆëœ ì‹œí€€ìŠ¤ ë°ì´í„°
- í† í¬ë‚˜ì´ì €(tokenizer)ê°€ í…ìŠ¤íŠ¸ë¥¼ **ì„œë¸Œì›Œë“œ ë‹¨ìœ„(subword units)**ë¡œ ë¶„í• í•˜ê³ , ì´ë¥¼ **ì–´íœ˜ ì‚¬ì „(vocabulary)**ì— ì •ì˜ëœ **í† í° ì¸ë±ìŠ¤(token index)**ë¡œ ë³€í™˜í•©ë‹ˆë‹¤.
- ì´ ì‹œí€€ìŠ¤ê°€ Transformer ëª¨ë¸ì˜ **ì„ë² ë”© ë ˆì´ì–´(embedding layer)**ì— ì…ë ¥ë˜ì–´, ê° ì •ìˆ˜ê°€ ê³ ì°¨ì› ë²¡í„°ë¡œ ì„ë² ë”©ë©ë‹ˆë‹¤.

2. attention_mask â€“ ì‹œí€€ìŠ¤ ë§ˆìŠ¤í‚¹ í…ì„œ
- TransformerëŠ” ì¼ë°˜ì ìœ¼ë¡œ ê³ ì •ëœ ìµœëŒ€ ê¸¸ì´(max sequence length) ì…ë ¥ì„ ì‚¬ìš©í•©ë‹ˆë‹¤.
- ì‹¤ì œ ì…ë ¥ ê¸¸ì´ê°€ ì§§ìœ¼ë©´ íŒ¨ë”©(padding)ì„ ì¶”ê°€í•´ ë§ì¶”ëŠ”ë°, ì´ë•Œ íŒ¨ë”© í† í°ì€ self-attention ì—°ì‚°ì—ì„œ ë¬´ì‹œë˜ì–´ì•¼ í•©ë‹ˆë‹¤.
- attention_maskëŠ” ê°™ì€ ê¸¸ì´ì˜ ë°”ì´ë„ˆë¦¬ ë²¡í„°ë¡œ,
  - ì‹¤ì œ í† í° ìœ„ì¹˜ â†’ 1
  - íŒ¨ë”© í† í° ìœ„ì¹˜ â†’ 0
- ì´ ë§ˆìŠ¤í¬ëŠ” ì–´í…ì…˜ ìŠ¤ì½”ì–´(attention score) ê³„ì‚° ì‹œ ì†Œí”„íŠ¸ë§¥ìŠ¤ ì´ì „ì— ë§¤ìš° ì‘ì€ ìŒìˆ˜(âˆ’âˆ)ë¥¼ ë”í•´, íŒ¨ë”© ìœ„ì¹˜ì˜ ê¸°ì—¬ë„ë¥¼ ì™„ì „íˆ ì œê±°í•©ë‹ˆë‹¤.

3. labels â€“ í•™ìŠµ ëŒ€ìƒ(target) ì‹œí€€ìŠ¤
- labelsëŠ” **ëª¨ë¸ì˜ ì¶œë ¥ ë¡œì§“(logits)**ê³¼ ë¹„êµí•  íƒ€ê²Ÿ ì‹œí€€ìŠ¤ì…ë‹ˆë‹¤.
- ì–¸ì–´ ëª¨ë¸ í•™ìŠµ ì‹œ auto-regressive(next-token prediction) ë°©ì‹ìœ¼ë¡œ í•™ìŠµí•˜ë¯€ë¡œ, labelsëŠ” ë³´í†µ input_idsì™€ ë™ì¼í•˜ì§€ë§Œ ì†ì‹¤ ê³„ì‚°ì—ì„œ ì œì™¸í•  í† í° ìœ„ì¹˜ë¥¼ -100ìœ¼ë¡œ ë§ˆìŠ¤í‚¹í•©ë‹ˆë‹¤.
- ì´ë ‡ê²Œ í•˜ë©´ Cross-Entropy Loss ê³„ì‚° ì‹œ ë¬´ì‹œëœ ìœ„ì¹˜ëŠ” loss=0ìœ¼ë¡œ ì²˜ë¦¬ë©ë‹ˆë‹¤.

In [16]:
print("input_ids : ", train_dataset["input_ids"][0])
print("attention_mask : ", train_dataset["attention_mask"][0])
print("labels : ", train_dataset["labels"][0])

input_ids :  [100272, 9125, 198, 2675, 527, 264, 1495, 311, 8029, 3319, 46588, 13, 14969, 690, 2610, 499, 4860, 304, 6498, 323, 499, 690, 7068, 264, 8029, 3319, 13, 100273, 198, 100272, 882, 198, 22818, 279, 366, 6584, 32685, 8226, 7068, 279, 12435, 8029, 3290, 311, 17622, 279, 12974, 828, 11, 13126, 279, 3319, 596, 20047, 11, 53794, 11, 323, 11036, 17413, 382, 27, 6584, 32685, 397, 4438, 1690, 14971, 315, 279, 26280, 527, 9191, 1109, 220, 3487, 18072, 524, 6584, 32685, 29, 100273, 198, 100272, 78191, 4963, 1797, 29771, 4393, 2010, 5401, 4325, 220, 871, 220, 220, 3487, 100275]
attention_mask :  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
labels :  [-100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, -100, 4963, 1797, 29771, 4393, 2010, 5401, 4325, 220, 871, 220, 220, 3487, 100275]

# 4. base model ì„±ëŠ¥ ì¸¡ì •
- í•™ìŠµ ëª©í‘œ : ko_text2sql ë°ì´í„°ì…‹ì„ ì´ìš©í•´ì„œ base modelì˜ ì„±ëŠ¥ì„ ì¸¡ì •í•  ìˆ˜ ìˆë‹¤.
- í•™ìŠµ ê°œë… : metric, 
- ì§„í–‰í•˜ëŠ” ì‹¤ìŠµ ìš”ì•½
    - í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
    - ì„±ëŠ¥ ì¸¡ì •

model í•™ìŠµì„ í•˜ê¸° ì „ì— base modelì˜ ì„±ëŠ¥ì´ ì–¼ë§ˆì¸ì§€ë¥¼ ì¸¡ì •í•©ë‹ˆë‹¤.

ëª¨ë¸ì˜ ì„±ëŠ¥ì„ ì¸¡ì •í•˜ê¸° ìœ„í•´ì„œëŠ” 2ê°€ì§€ê°€ í•„ìš”í•©ë‹ˆë‹¤.
1. ì„±ëŠ¥ì„ ì¸¡ì •í•˜ê¸° ìœ„í•œ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹
2. ì„±ëŠ¥ì„ ì¸¡ì •í•˜ê¸° ìœ„í•œ ì§€í‘œ

ko_text2sqlì— ìˆëŠ” test ë°ì´í„°ì…‹ì„ í™œìš©í•˜ê² ìŠµë‹ˆë‹¤.

In [17]:
test_df = text_to_sql["test"].to_pandas()
print(len(test_df))
test_df.head()

1034

,db_id,query,question,query_toks,query_toks_no_value,question_toks
0,concert_singer,SELECT count(*) FROM singer,How many singers do we have?,['SELECT' 'count' '(' '*' ')' 'FROM' 'singer'],['select' 'count' '(' '*' ')' 'from' 'singer'],['How' 'many' 'singers' 'do' 'we' 'have' '?']
1,concert_singer,SELECT count(*) FROM singer,What is the total number of singers?,['SELECT' 'count' '(' '*' ')' 'FROM' 'singer'],['select' 'count' '(' '*' ')' 'from' 'singer'],['What' 'is' 'the' 'total' 'number' 'of' 'sing...
2,concert_singer,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere...","['SELECT' 'name' ',' 'country' ',' 'age' 'FROM...","['select' 'name' ',' 'country' ',' 'age' 'from...","['Show' 'name' ',' 'country' ',' 'age' 'for' '..."
3,concert_singer,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev...","['SELECT' 'name' ',' 'country' ',' 'age' 'FROM...","['select' 'name' ',' 'country' ',' 'age' 'from...","['What' 'are' 'the' 'names' ',' 'countries' ',..."
4,concert_singer,"SELECT avg(age) , min(age) , max(age) FROM s...","What is the average, minimum, and maximum age ...","['SELECT' 'avg' '(' 'age' ')' ',' 'min' '(' 'a...","['select' 'avg' '(' 'age' ')' ',' 'min' '(' 'a...","['What' 'is' 'the' 'average' ',' 'minimum' ','..."

í•™ìŠµ ë°ì´í„°ì…‹ê³¼ ë™ì¼í•œ ì„±ê²©ì„ ê°€ì§„ ë°ì´í„°ì…‹ì…ë‹ˆë‹¤.

ë”°ë¼ì„œ, í…ŒìŠ¤íŠ¸ ë°ì´í„°ì…‹ë„ ë™ì¼í•˜ê²Œ í•„ìš”í•œ columnë§Œ ë‚¨ê¸°ë„ë¡ í•˜ê² ìŠµë‹ˆë‹¤.

In [18]:
test_data = test_df[columns]
test_data

,query,question
0,SELECT count(*) FROM singer,How many singers do we have?
1,SELECT count(*) FROM singer,What is the total number of singers?
2,"SELECT name , country , age FROM singer ORDE...","Show name, country, age for all singers ordere..."
3,"SELECT name , country , age FROM singer ORDE...","What are the names, countries, and ages for ev..."
4,"SELECT avg(age) , min(age) , max(age) FROM s...","What is the average, minimum, and maximum age ..."
...,...,...
1029,SELECT Citizenship FROM singer WHERE Birth_Yea...,What are the citizenships that are shared by s...
1030,SELECT count(*) FROM Other_Available_Features,How many available features are there in total?
1031,SELECT T2.feature_type_name FROM Other_Availab...,What is the feature type name of feature AirCon?
1032,SELECT T2.property_type_description FROM Prope...,Show the property type descriptions of propert...
1033,SELECT property_name FROM Properties WHERE pro...,What are the names of properties that are eith...

In [19]:
text_idx = 0

test_input = [
    {'role': 'system', 'content': system_prompt},
    {'role': 'user', 'content': user_prompt.format(question=test_data["question"][text_idx])},
]
print("ì •ë‹µ :", test_data["query"][text_idx])

ì •ë‹µ : SELECT count(*) FROM singer

ì´ì œ base modelì˜ ì„±ëŠ¥ì„ ì¸¡ì •í•˜ê¸° ìœ„í•´ ì¸¡ì • metricì„ ì„¤ì •í•©ë‹ˆë‹¤. ì €í¬ê°€ ì‚¬ìš©í•  metricì€ `execution accuracy`ì…ë‹ˆë‹¤.

text to sql taskì˜ ê²½ìš°, ìì—°ì–´ë¥¼ ì…ë ¥ìœ¼ë¡œ ë°›ì•„ modelì´ sqlë¬¸ì„ ì¶œë ¥í•˜ëŠ” ê²ƒì´ë¯€ë¡œ, ëª¨ë¸ì˜ response ê²°ê³¼ë¬¼ì´ ì‹¤ì œ sqlë¬¸ì´ ì˜ ë™ì‘í•˜ëŠ”ì§€ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í‰ê°€ë¥¼ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ëŸ¬í•œ í‰ê°€ ë°©ì‹ì€ sqlë¬¸ì€ ë‹¤ë¥´ë”ë¼ë„ ì˜ë„ëŒ€ë¡œ ì‹¤í–‰ì´ ë˜ì—ˆë‹¤ë©´ ì •ë‹µì´ ë  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ì •í™•íˆ SQLë¬¸ì´ ì¼ì¹˜í•˜ëŠ”ì§€ í‰ê°€í•˜ëŠ” exact match ë³´ë‹¤ ìœ ì—°í•œ ë°©ì‹ì…ë‹ˆë‹¤.

ì´ëŸ¬í•œ metricì€ ì‹¤ì œë¡œ databaseì— ë“¤ì–´ìˆëŠ” ë°ì´í„°ë¥¼ sqlë¬¸ì„ ì‹¤í–‰í–ˆì„ ë•Œ, ì˜ë„í•œ sqlë¬¸ì´ ë™ì‘í•˜ëŠ”ì§€ë¥¼ í‰ê°€í•˜ëŠ” ë°©ì‹ì…ë‹ˆë‹¤. ì•„ë˜ ì˜ˆì‹œ ë°ì´í„°ë¡œ ì§„í–‰í•´ë³´ê² ìŠµë‹ˆë‹¤.

In [6]:
!cd test-suite-sql-eval-master && python evaluation.py --gold evaluation_examples/gold.txt --pred evaluation_examples/predict.txt --db database/ --etype exec --plug_value

Evaluating 10th prediction
Evaluating 20th prediction
Evaluating 30th prediction
Evaluating 40th prediction
Evaluating 50th prediction
Evaluating 60th prediction
Evaluating 70th prediction
Evaluating 80th prediction
Evaluating 90th prediction
Evaluating 100th prediction
Evaluating 110th prediction
Evaluating 120th prediction
Evaluating 130th prediction
                     easy                 medium               hard                 extra                all                  joint_all
count                146                  106                  38                   32                   322                  132
=====================   EXECUTION ACCURACY     =====================
execution            0.164                0.038                0.000                0.031                0.090                0.008


                     turn 1               turn 2               turn 3               turn 4               turn > 4
count                132                  132                  58                   0                    0
=====================   TURN EXECUTION ACCURACY     =====================
execution            0.182                0.030                0.017                0.000                0.000

ì˜ˆì‹œ ê²°ê³¼ë¬¼ì„ ë³´ì‹œë©´ allì´ executionì—ì„œ 0.090 ì¸ ê²ƒì„ í™•ì¸í•˜ì‹¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ëª¨ë¸ì˜ ì˜ˆì¸¡ ê²°ê³¼ë¬¼ì„ 100ê°œë¥¼ ì‹¤í–‰í–ˆë‹¤ë©´ 9ê°œë§Œ ì˜ë„í•œëŒ€ë¡œ ì‹¤í–‰ë˜ì—ˆë‹¤ëŠ” ê²ƒê³¼ ë™ì¼í•œ ì˜ë¯¸ì…ë‹ˆë‹¤.

ì´ë²ˆì—ëŠ” í•™ìŠµí•˜ì§€ ì•Šì€ base ëª¨ë¸ì„ ê°€ì§€ê³  ì–¼ë§ˆë‚˜ ì„±ëŠ¥ì´ ë‚˜ì˜¤ê³  ìˆëŠ”ì§€ ì¸¡ì •í•´ë³´ê² ìŠµë‹ˆë‹¤. ëª¨ë¸ ì¶”ë¡ ì„ ëŒë¦¬ëŠ”ë° ì‹œê°„ì´ ê±¸ë¦¬ë¯€ë¡œ test ë°ì´í„° ì¤‘ì—ì„œ 100ê°œë§Œ ë¯¸ë¦¬ ëª¨ë¸ ì¶”ë¡ ì„ ì‹¤í–‰í–ˆìŠµë‹ˆë‹¤. ë”°ë¡œ ì‹¤í–‰ì„ í•´ë³´ê³  ì‹¶ìœ¼ì‹œë‹¤ë©´ `python inference --pred_file_name base_model_predict.txt`ë¡œ ì‹¤í–‰í•˜ë©´ base modelë¡œ ì¶”ë¡ ì„ ëŒë¦¬ì‹¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤. (ì£¼ì˜! ëª¨ë¸ì„ í•™ìŠµí•œ ì´í›„ì— ëŒë¦¬ë©´ í•™ìŠµí•œ ëª¨ë¸ë¡œ ë™ì‘í•˜ë¯€ë¡œ ìœ ì˜í•˜ì‹œê¸¸ ë°”ëë‹ˆë‹¤.)

In [ ]:
!cd test-suite-sql-eval-master && python evaluation.py --gold gold.txt --pred base_model_predict.txt --db database/ --etype exec --plug_value

                     easy                 medium               hard                 extra                all
count                12                   50                   21                   17                   100
=====================   EXECUTION ACCURACY     =====================
execution            0.417                0.000                0.000                0.000                0.050

# 5. Text-to-SQL task ëª¨ë¸ LoRA fine-tuning

LoRA ì„¤ì •ê³¼ Trainer ì„¤ì •ì„ í•˜ê³  ëª¨ë¸ í•™ìŠµì„ ì§„í–‰í•©ë‹ˆë‹¤.

LoRA config ì„¤ì •ì„ í•©ë‹ˆë‹¤. ìì„¸í•œ ì„¤ì •ì€ [Huggingface LoRA Config](https://huggingface.co/docs/peft/package_reference/lora#peft.LoraConfig)ë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.

In [11]:
from peft import LoraConfig

peft_config = LoraConfig(
    r=16,
    lora_alpha=32,
    lora_dropout=0.0,
    bias="none",
    task_type="CAUSAL_LM",
    target_modules=["q_proj", "k_proj", "v_proj", "o_proj", "gate_proj", "up_proj", "down_proj"]  # safe default for many LLMs
)

### SFTConfig ì£¼ìš” ì„¤ì • ì„¤ëª…
ê° ì„¤ì •ë“¤ì€ ê¸°ë³¸ì ì¸ AIì— ëŒ€í•œ ì§€ì‹ì´ í•„ìš”í•œ ë¶€ë¶„ë“¤ì´ ë§ìŠµë‹ˆë‹¤. ë”°ë¼ì„œ, ê° ì„¤ì •ë“¤ì€ í•˜ë‚˜í•˜ë‚˜ ë¸”ë¡œê·¸ ê¸€ì„ ì°¸ê³ í•´ê°€ë©° ê¹Šì´ ì´í•´í•´ì£¼ì„¸ìš”.

1. output_dir
- ì„¤ëª…: í•™ìŠµì´ ëë‚œ ëª¨ë¸ ê°€ì¤‘ì¹˜, ì²´í¬í¬ì¸íŠ¸, ë¡œê·¸ë¥¼ ì €ì¥í•  ë””ë ‰í„°ë¦¬ (ë˜ëŠ” Hugging Face Hub ì €ì¥ì†Œ ì´ë¦„)
- ì¤‘ìš”ì„±: ì‹¤í—˜ ê²°ê³¼ë¥¼ ì¬í˜„í•˜ê±°ë‚˜ ì´ì–´ì„œ í•™ìŠµí•˜ë ¤ë©´ í•„ìˆ˜ë¡œ ì„¤ì •í•´ì•¼ í•¨

2. max_seq_length
- ì„¤ëª…: í•œ í•™ìŠµ ìƒ˜í”Œì˜ ìµœëŒ€ í† í° ê¸¸ì´
- ì˜í–¥:
	1. ê¸¸ì´ë¥¼ í¬ê²Œ í•˜ë©´ ë” ê¸´ ë¬¸ì¥ì„ í•™ìŠµí•  ìˆ˜ ìˆìœ¼ë‚˜ GPU ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ì¦ê°€
	2. ë„ˆë¬´ ì‘ìœ¼ë©´ ê¸´ ë¬¸ì¥ì´ ì˜ë ¤ì„œ í•™ìŠµ í’ˆì§ˆ ì €í•˜

3. packing
	- ì„¤ëª…: ì—¬ëŸ¬ ì§§ì€ ìƒ˜í”Œì„ í•˜ë‚˜ì˜ ì‹œí€€ìŠ¤ë¡œ ì´ì–´ ë¶™ì—¬(max_seq_lengthê¹Œì§€) í•™ìŠµ
	- ì¥ì : GPU ë©”ëª¨ë¦¬ íš¨ìœ¨ â†‘, í•™ìŠµ ì†ë„ â†‘ (íŒ¨ë”© ë‚­ë¹„ ê°ì†Œ)
	- ì£¼ì˜ì : ì‹œí€€ìŠ¤ ì‚¬ì´ë¥¼ êµ¬ë¶„í•˜ëŠ” special token(EOS ë“±)ì„ ë„£ì–´ì•¼ ë°ì´í„° ì„ì„ ë°©ì§€
  - PACKING ì˜ˆì‹œ

    ë°ì´í„°ì…‹ ìƒ˜í”Œì´ ê°ê° ë…ë¦½ëœ ì‹œí€€ìŠ¤ë¡œ í•™ìŠµë˜ê³  í•™ìŠµí•  í† í°ë“¤ì´ ì§§ìœ¼ë©´ íŒ¨ë”©ì´ ë§ì•„ì§‘ë‹ˆë‹¤.

    ```
    ìƒ˜í”Œ 1: [USER] ì˜¤ëŠ˜ ë‚ ì”¨ ì–´ë•Œ? [EOS] [PAD] [PAD] [PAD] ...
    ìƒ˜í”Œ 2: [USER] ë‚´ì¼ ë¹„ ì™€? [EOS] [PAD] [PAD] [PAD] ...
    ìƒ˜í”Œ 3: [USER] ì£¼ë§ ì¼ì • ë³´ì—¬ì¤˜ [EOS] [PAD] [PAD] ...
    ```
    GPUëŠ” [PAD]ë„ ì—°ì‚°í•´ì•¼ í•˜ë¯€ë¡œ ë©”ëª¨ë¦¬ ë‚­ë¹„ & ì†ë„ ì €í•˜ê°€ ë°œìƒí•©ë‹ˆë‹¤.

    ì§§ì€ ìƒ˜í”Œë“¤ì„ ì´ì–´ë¶™ì´ê³ , ìƒ˜í”Œ ì‚¬ì´ì— EOS ê°™ì€ êµ¬ë¶„ í† í°ì„ ì¶”ê°€í•˜ì—¬ ìµœëŒ€ ê¸¸ì´(max_seq_length)ì— ë§ê²Œ í•˜ë‚˜ì˜ ê¸´ ì‹œí€€ìŠ¤ë¡œ ë¬¶ìŠµë‹ˆë‹¤.

    Packed ì‹œí€€ìŠ¤:
    ```
    [USER] ì˜¤ëŠ˜ ë‚ ì”¨ ì–´ë•Œ? [EOS]
    [USER] ë‚´ì¼ ë¹„ ì™€? [EOS]
    [USER] ì£¼ë§ ì¼ì • ë³´ì—¬ì¤˜ [EOS]
    ```
    - íŒ¨ë”©ì´ ê±°ì˜ ì—†ê³  GPU ì—°ì‚° íš¨ìœ¨ â†‘
    - í•œ ì‹œí€€ìŠ¤ ì•ˆì—ì„œ ì—¬ëŸ¬ ì˜ˆì‹œë¥¼ í•œ ë²ˆì— í•™ìŠµ â†’ í•™ìŠµ ì†ë„ â†‘
    - `Packing=False` : `[ìƒ˜í”Œ1][PAD PAD PAD] [ìƒ˜í”Œ2][PAD PAD PAD]`
    - `Packing=True` : `[ìƒ˜í”Œ1][EOS][ìƒ˜í”Œ2][EOS][ìƒ˜í”Œ3][EOS]	`

4. num_train_epochs
- ì„¤ëª…: ì „ì²´ ë°ì´í„°ì…‹ì„ ëª‡ ë²ˆ ë°˜ë³µí•´ì„œ í•™ìŠµí• ì§€ ê²°ì •
- íŒ: LoRA/QLoRAëŠ” ì ì€ Epoch(2~3)ìœ¼ë¡œë„ ì˜ ìˆ˜ë ´í•˜ëŠ” ê²½ìš°ê°€ ë§ìŒ

5. per_device_train_batch_size
- ì„¤ëª…: GPU í•œ ì¥(ë˜ëŠ” ì¥ì¹˜ í•˜ë‚˜)ì—ì„œ í•œ ë²ˆì— ì²˜ë¦¬í•  ìƒ˜í”Œ ê°œìˆ˜
- ì¡°ì ˆ í¬ì¸íŠ¸: GPU ë©”ëª¨ë¦¬ì— ë§ì¶° ì¡°ì ˆ. ì‘ê²Œ í•˜ë©´ gradient_accumulation_stepsë¡œ ë³´ì™„ ê°€ëŠ¥

6. gradient_accumulation_steps
- ì„¤ëª…: ì—¬ëŸ¬ ìŠ¤í…ì˜ ê·¸ë˜ë””ì–¸íŠ¸ë¥¼ ëˆ„ì í•´ í•œ ë²ˆë§Œ ì—­ì „íŒŒ/ê°€ì¤‘ì¹˜ ì—…ë°ì´íŠ¸
- ì¥ì : ì‘ì€ ë°°ì¹˜ë¡œë„ í° effective batch size êµ¬í˜„ ê°€ëŠ¥
- ì˜ˆì‹œ: batch_size=1, grad_accum=4 â†’ ì‹¤ì œ batch size = 4ì™€ ë¹„ìŠ·í•œ íš¨ê³¼
- `gradient_accumulation_steps`ì€ [ë§í¬]()ë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.

7. gradient_checkpointing
- ì„¤ëª…: ìˆœì „íŒŒ(forward) ì¤‘ ì¼ë¶€ ì¤‘ê°„ ê°’ì„ ì €ì¥í•˜ì§€ ì•Šê³  í•„ìš”í•  ë•Œ ë‹¤ì‹œ ê³„ì‚°
- ì¥ì : GPU ë©”ëª¨ë¦¬ ì ˆì•½ (íŠ¹íˆ ëŒ€í˜• ëª¨ë¸ í•™ìŠµ ì‹œ í•„ìˆ˜)
- ë‹¨ì : ì—°ì‚°ëŸ‰ ì¦ê°€ â†’ í•™ìŠµ ì†ë„ ì†Œí­ ëŠë ¤ì§

8. optim
- ì„¤ëª…: ì‚¬ìš©í•  ì˜µí‹°ë§ˆì´ì € ì„ íƒ (adamw_torch_fusedëŠ” PyTorchì˜ fused AdamW)
- ì¥ì : ì¼ë°˜ AdamWë³´ë‹¤ ë¹ ë¥´ê³  ë©”ëª¨ë¦¬ íš¨ìœ¨ ì¢‹ìŒ (ì§€ì› GPU í•„ìš”)

9. logging_steps
- ì„¤ëª…: ëª‡ stepë§ˆë‹¤ í•™ìŠµ ë¡œê·¸ë¥¼ ê¸°ë¡í• ì§€
- íŒ: ë„ˆë¬´ ì‘ìœ¼ë©´ ë¡œê·¸ ê³¼ë‹¤, ë„ˆë¬´ í¬ë©´ í•™ìŠµ ì¶”ì  í˜ë“¦ â†’ 10~50 step ì •ë„ ê¶Œì¥

10. save_strategy
- ì„¤ëª…: ëª¨ë¸ ì²´í¬í¬ì¸íŠ¸ ì €ì¥ ì‹œì  (epoch, steps, no)
- ì˜ˆì‹œ: "epoch" â†’ ê° epochê°€ ëë‚  ë•Œë§ˆë‹¤ ì €ì¥

11. learning_rate
- ì„¤ëª…: ëª¨ë¸ í•™ìŠµë¥ 
- íŒ: QLoRA ë…¼ë¬¸ì—ì„œ 2e-4ê°€ ì•ˆì •ì ì´ë¼ê³  ê¶Œì¥
- ì£¼ì˜: ì§€ë‚˜ì¹˜ê²Œ ë†’ìœ¼ë©´ loss í­ì£¼, ë‚®ìœ¼ë©´ í•™ìŠµ ëŠë¦¼

12. fp16 / bf16
- ì„¤ëª…: í•™ìŠµ ì‹œ ì—°ì‚° ì •ë°€ë„ ì„ íƒ
- fp16: ëŒ€ë¶€ë¶„ GPU ì§€ì›, ë©”ëª¨ë¦¬ ì ˆì•½, ì†ë„ ë¹ ë¦„
- bf16: ìµœì‹  GPU(Ampere ì´ìƒ)ì—ì„œ ê¶Œì¥, ì•ˆì •ì„± ë” ì¢‹ìŒ
- íŒ: Colab A100/T4 â†’ fp16 / A100(Ampere) ì´ìƒ â†’ bf16 ì¶”ì²œ

13. max_grad_norm
- ì„¤ëª…: Gradient clipping ê°’ (ë„ˆë¬´ í° gradientë¥¼ ì˜ë¼ í•™ìŠµ ì•ˆì •í™”)
- QLoRA ê¶Œì¥ê°’: 0.3

14. warmup_ratio
- ì„¤ëª…: í•™ìŠµ ì´ˆê¸°ì— learning rateë¥¼ ì²œì²œíˆ ì˜¬ë¦¬ëŠ” ë¹„ìœ¨
- ì¥ì : í•™ìŠµ ì•ˆì •í™”, ì´ˆê¸° ì†ì‹¤ í­ì£¼ ë°©ì§€
- QLoRA ë…¼ë¬¸ ê°’: 0.03 (~3% ë‹¨ê³„ëŠ” warmup)

15. lr_scheduler_type
- ì„¤ëª…: í•™ìŠµë¥  ìŠ¤ì¼€ì¤„ë§ ë°©ì‹
- constant: í•™ìŠµ ë‚´ë‚´ ì¼ì •í•œ í•™ìŠµë¥ 
- (ë‹¤ë¥¸ ì˜µì…˜: linear, cosine ë“±)

16. push_to_hub
- ì„¤ëª…: í•™ìŠµì´ ëë‚œ ëª¨ë¸ì„ Hugging Face Hubì— ìë™ ì—…ë¡œë“œí• ì§€ ì—¬ë¶€
- í˜‘ì—…/ê³µìœ : íŒ€ì›ì´ë‚˜ ê³µê°œ í”„ë¡œì íŠ¸ì— ìœ ìš©

17. report_to
- ì„¤ëª…: í•™ìŠµ ë©”íŠ¸ë¦­ì„ ì–´ë””ë¡œ ë³´ë‚¼ì§€ (ì˜ˆ: "tensorboard", "wandb")
- ì¥ì : í•™ìŠµ ê³¼ì • ì‹œê°í™” ê°€ëŠ¥

í•™ìŠµ ì„¤ì •ì„ ì§„í–‰í•©ë‹ˆë‹¤.

In [ ]:
from trl import SFTConfig, SFTTrainer

output_dir = "outputs"
num_train_epochs=1
per_device_train_batch_size = 1 # GPUê°€ ë¶€ì¡±í•˜ë‹¤ë©´ í•´ë‹¹ ê°’ì„ ì¤„ì—¬ì£¼ì„¸ìš”.
gradient_accumulation_steps = 4
warmup_ratio = 0.03
max_steps = 1000 # í•™ìŠµ ì‹œê°„ì´ ì˜¤ë˜ ê±¸ë¦°ë‹¤ë©´ í•´ë‹¹ ê°’ì„ ì¤„ì—¬ì£¼ì„¸ìš”.
learning_rate = 2e-5
logging_steps = 1
weight_decay = 0.01
max_grad_norm=1.0
lr_scheduler_type = "linear"
report_to = "none" # Use this for WandB etc
bf16=False
gradient_checkpointing=False
optim="adamw_torch"

train_cfg = SFTConfig(
    output_dir=output_dir,
    num_train_epochs=num_train_epochs,
    per_device_train_batch_size=per_device_train_batch_size,
    gradient_accumulation_steps=gradient_accumulation_steps,
    learning_rate=learning_rate,
    lr_scheduler_type=lr_scheduler_type,
    max_grad_norm=max_grad_norm,
    warmup_ratio=warmup_ratio,
    weight_decay=weight_decay,
    logging_steps=logging_steps,
    save_steps=max_steps,
    max_steps=max_steps,
    fp16=False if bf16 else True,
    bf16=bf16,
    report_to=report_to,
    gradient_checkpointing=gradient_checkpointing,
    optim=optim,
)

í•™ìŠµì„ ì§„í–‰í•©ë‹ˆë‹¤.

In [30]:
trainer = SFTTrainer(
    model = model,
    processing_class = tokenizer,
    train_dataset = train_dataset.select(range(max_steps * per_device_train_batch_size)), # max_steps * batch_size ë§Œí¼ë§Œ í•™ìŠµí•©ë‹ˆë‹¤.
    peft_config=peft_config,
    args = train_cfg,
)

c:\Users\SSAFY\lucas\skeleton-2\.venv\Lib\site-packages\peft\mapping_func.py:73: UserWarning: You are trying to modify a model with PEFT for a second time. If you want to reload the model with a different config, make sure to call `.unload()` before.
  warnings.warn(
c:\Users\SSAFY\lucas\skeleton-2\.venv\Lib\site-packages\peft\tuners\tuners_utils.py:196: UserWarning: Already found a `peft_config` attribute in the model. This will lead to having multiple adapters in the model. Make sure to know what you are doing!
  warnings.warn(

In [31]:
trainer_stats = trainer.train()
print(trainer_stats)

TrainOutput(global_step=100, training_loss=0.8179761552810669, metrics={'train_runtime': 93.8791, 'train_samples_per_second': 4.261, 'train_steps_per_second': 1.065, 'total_flos': 126295603765248.0, 'train_loss': 0.8179761552810669, 'epoch': 4.0})

LoRAë¥¼ ì €ì¥í•˜ëŠ” ë°©ì‹ì€ ë‘ê°€ì§€ê°€ ìˆìŠµë‹ˆë‹¤.
1. base modelì— LoRA weightë¥¼ mergeí•´ì„œ ì €ì¥í•˜ëŠ” ë°©ì‹
2. LoRA weightë§Œ ë”°ë¡œ ì €ì¥í•˜ëŠ” ë°©ì‹

ë‘ ë°©ì‹ ëª¨ë‘ ê°€ëŠ¥í•˜ì§€ë§Œ, ì—¬ê¸°ì„œëŠ” 2ë²ˆ ë°©ì‹ìœ¼ë¡œ ì§„í–‰í•˜ê² ìŠµë‹ˆë‹¤. ë§ì€ í•™ìŠµì„ ëŒë¦°ë‹¤ë©´ 1ë²ˆë³´ë‹¤ëŠ” 2ë²ˆì´ ë”ìš± ë¹„ìš© íš¨ìœ¨ì ì…ë‹ˆë‹¤.

In [32]:
# ============================================
# Save LoRA adapter (small)
# ============================================
merge_and_save = False
if merge_and_save:
    trainer.model.save_pretrained(output_dir)
    tokenizer.save_pretrained(output_dir)
    print(f"LoRA adapter saved to: {output_dir}")

# ============================================
# (Optional) Merge LoRA into base weights and save a full model
# WARNING: creates a large model; only do this if you need standalone weights
# ============================================
if merge_and_save:
    from peft import AutoPeftModelForCausalLM
    merged_model = AutoPeftModelForCausalLM.from_pretrained(
        output_dir,
        torch_dtype=torch.bfloat16 if torch.cuda.is_available() else torch.float16,
        device_map="auto",
    )
    merged_model = merged_model.merge_and_unload()
    merged_dir = output_dir + "-merged"
    merged_model.save_pretrained(merged_dir, safe_serialization=True)
    tokenizer.save_pretrained(merged_dir)
    print(f"Merged full model saved to: {merged_dir}")

ëª¨ë¸ ê²°ê³¼ë¬¼ì´ ì˜ ë‚˜ì˜¤ëŠ”ì§€ í…ŒìŠ¤íŠ¸ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤. ìš°ì„  í•™ìŠµ ë°ì´í„°ë¡œ í•™ìŠµì´ ì˜ ë˜ì—ˆëŠ”ì§€ í™•ì¸ë§Œ í•´ë³´ê³  ì‹¤ì œ ëª¨ë¸ì˜ í…ŒìŠ¤íŠ¸ëŠ” í‰ê°€ë¥¼ í†µí•´ ì§„í–‰í•©ë‹ˆë‹¤.

In [34]:
text_idx = len(train_df) - 1

test_input = [
    {'role': 'system', 'content': system_prompt},
    {'role': 'user', 'content': user_prompt.format(question=train_df["question"][text_idx])},
]
print("ì •ë‹µ :", train_df["query"][text_idx])

inputs = tokenizer.apply_chat_template(test_input, add_generation_prompt=True, return_dict=True, return_tensors="pt")
input_prompt = tokenizer.apply_chat_template(test_input, add_generation_prompt=True, tokenize=False)
with torch.no_grad():
    output_ids = model.generate(
        **inputs.to("cuda"),
        max_new_tokens=128,
        stop_strings=["<|endofturn|>", "<|stop|>"],
        tokenizer=tokenizer
    )

print(tokenizer.batch_decode(output_ids)[0][len(input_prompt) - 1:])

ì •ë‹µ : SELECT T2.company_name FROM movie AS T1 JOIN culture_company AS T2 ON T1.movie_id  =  T2.movie_id WHERE T1.year  =  1999

SELECT T1.company_name FROM company AS T1 JOIN movie_directors AS T2 ON T1.company_id = T2.company_id WHERE T2.movie_year = 1999<|endofturn|>

ì´ì œ ëª¨ë¸ ì„±ëŠ¥ì„ í‰ê°€í•´ë´…ì‹œë‹¤.

ëª¨ë¸ ì„±ëŠ¥ì„ í‰ê°€í•˜ê¸° ì´ì „ì— jupyter notebookì€ ì»¤ë„ì„ ê³„ì† ì‹¤í–‰í•˜ê³  ìˆê¸° ë•Œë¬¸ì— jupyter notebookì„ restartë¥¼ í•´ì•¼ë§Œ jupyter notebookì—ì„œ ì‚¬ìš©í•˜ëŠ” GPUê°€ ë¹„ì›Œì§‘ë‹ˆë‹¤. ê¼­ jupyter notebookì„ ë¹„ìš°ê³  `python inference.py` ëª…ë ¹ì–´ë¥¼ ì‹¤í–‰í•´ì£¼ì„¸ìš”. `outputs/` ë””ë ‰í† ë¦¬ê°€ ìˆë‹¤ë©´ LoRA ëª¨ë¸ì„ ë¨¼ì € ë¶ˆëŸ¬ì˜¤ê²Œë” ì„¤ì •ì´ ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

inferenceë¥¼ ëŒë¦° ì´í›„ì—ëŠ” `cd test-suite-sql-eval-master && python evaluation.py --gold gold.txt --pred predict.txt --db database/ --etype exec --plug_value` ëª…ë ¹ì–´ë¡œ í‰ê°€ë¥¼ ì§ì ‘ ì§„í–‰í•´ë³´ì‹œê¸¸ ë°”ëë‹ˆë‹¤.